<div class="container">
  <h1 class="text-center my-5">Matrices Flexbox</h1>

  <!-- Matriz 3x3 -->
  <div class="grid matriz-3x3 justify-content-center align-items-center mb-5">
    <div class="col-12 sm:col-6 md:col-4 lg:col-2">
      <div class="box">5</div>
    </div>
  </div>

  <!-- Matriz 4x4 -->
  <div class="grid matriz-4x4 align-items-center mb-5">
    <div
      class="col-6 sm:col-6 md:col-4 lg:col-3"
      *ngFor="let item of [3, 4]; let i = index"
      [ngClass]="{ 'ml-auto': i === 1 }"
    >
      <div class="non">
        <div class="box">{{ item }}</div>
      </div>
    </div>
  </div>

  <!-- Matriz 8x8 -->
  <div class="matriz-8x8 mb-5">
    <div class="grid justify-content-center align-items-center">
      <div
        class="col-6 sm:col-6 md:col-2 lg:col-1"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
      >
        <div class="len">
          <div class="p-4 bg-primary box">{{ item }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Matriz 6x6 -->
  <div class="matriz-6x6 mb-5">
    <div class="grid justify-content-end">
      <div class="col-12 sm:col-6 md:col-4 lg:col-3">
        <div class="ji">
          <div class="p-4 box">3</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Matriz 7x7 -->
  <div class="matriz-7x7 mb-5">
    <div class="grid">
      <div
        class="col-6 sm:col-6 md:col-4 lg:col-1 justify-content-end"
        *ngFor="let item of [2, null, 2]"
      >
        <div *ngIf="item !== null" class="pep">
          <div class="p-4 box">{{ item }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Matriz 2x2 -->
  <div class="matriz-2x2 mb-5">
    <div class="grid justify-content-center">
      <div class="col-12 sm:col-6 md:col-6 lg:col-6">
        <div class="p-4 box">6</div>
      </div>
    </div>
  </div>
</div>
