<div class="card flex justify-content-center" style="padding: 3rem;">
  <p-card header="Basilica Nacional" subheader="QUITO, LA CIUDAD INMORTAL" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://www.arquidiocesisdequito.com.ec/templates/yootheme/cache/60/basilica_del_voto_nacional_1-608c5daf.jpeg" />
      </ng-template>
      <p>
        El diseño de la Basílica del Voto Nacional corresponden al arquitecto francés Emilio Tarlier, quien se inspiró en la Catedral de Notre Dame. El 10 de julio de 1892 se colocó la piedra fundamental.
      </p>
      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
              <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
              <p-button label="Save" class="w-full" styleClass="w-full" />
          </div>
      </ng-template>
  </p-card>
</div>