
  <div style="display: flex; justify-content: center; align-items: center;">
    <h1>Diseño de Interfaces</h1>
  </div>
  <div class="button-container">
    <a routerLink="/deberes/db1" class="btn btn-primary">Deber 1</a>
    <a routerLink="/deberes/db2" class="btn btn-primary">Deber 2</a>
    <a routerLink="/deberes/db3" class="btn btn-primary">Deber 3</a>
    <!--<a routerLink="/deberes/db4" class="btn btn-primary">Deber 4</a>-->
    <a routerLink="/deberes/db5" class="btn btn-primary">Deber 5</a>
  </div>
  <router-outlet/>
  
