<title>Flexbox Matrices Jeremy Catota</title>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@3.3.0/primeflex.css">
  <style>
    .box {
      border: 1px solid #0a0a0a;
      text-align: center;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;
      box-sizing: border-box;
    
    }
    .pep{
        background-color: #1dc217;
    }
    .men{
        background-color: rgb(63, 212, 163);
    }
    .lom{
        background-color: aqua;
    }
    .nin{
        background-color: rgb(16, 16, 119);
    }
  </style>
  <body>
    <div class="grid justify-content-center align-items-center">
        <div class="col-12 sm:col-12 md:col-4 lg:col-3">
          <div class="pep">
            <div class="p-4 bg-primary box">
                12
              </div>
          </div>
        </div>
    </div>
<h1></h1>
    <div class="grid justify-content-center align-items-center">
        <div class="col-12 sm:col-4">
          <div class="men">
            <div class="p-4 bg-primary box">
                4
            </div>
          </div>
        </div>
        <div class="col-12 sm:col-4"></div>
        <div class="col-12 sm:col-4">
          <div class="men">
            <div class="p-4 bg-secondary text-center box">
                4
            </div>
          </div>
        </div>
    </div>
<h1></h1>
    <div>
        <div class="grid justify-content-center align-items-center">
            <div class="col-12 sm:col-4">
              <div class="lom">
                <div class="p-4 bg-primary box">
                    4
                  </div>
              </div>
            </div>
            <div class="col-12 sm:col-2"></div>
            <div class="col-12 sm:col-4">
              <div class="lom">
                <div class="p-4 bg-secondary  text-center box">
                    4
                </div>
              </div>
            </div>
          </div>
    </div>
<h1></h1>
    <div>
        <div class="grid justify-content-center align-items-center">
            <div class="col-12 sm:col-4">
                <div class="lom">
                    <div class="p-4 bg-primary box">
                        4
                      </div>
                  </div>
            </div>

            <div class="col-12 sm:col-2"></div>

            <div class="col-12 sm:col-4">
                <div class="lom">
                    <div class="p-4 bg-primary box">
                        4
                      </div>
                  </div>
            </div>
        
        </div>
    </div>
<h1></h1>
    <div>
        <div class="grid justify-content-center align-items-center">

            
            <div class="col-12 sm:col-4">
                <div class="lom">
                    <div class="p-4 bg-primary box">
                        4
                      </div>
                  </div>
            </div>
        
            <div class="col-12 sm:col-2"></div>

            <div class="col-12 sm:col-4">
                <div class="lom">
                    <div class="p-4 bg-primary box">
                        4
                      </div>
                  </div>
            </div>
        
        </div>
    </div>
<h1></h1>
    <div class="grid justify-content-center align-items-center">
        <div class="col-12 sm:col-12 md:col-4 lg:col-3">
          <div class="pep">
            <div class="p-4 bg-primary box">
                12
              </div>
          </div>
        </div>
    </div>
<h1></h1>
    <div class="grid justify-content-end">
        <div class="col-12 sm:col-6">
          <div class="nin">
            <div class="p-4 bg-primary  box">
                6
              </div>
          </div>
        </div>
    </div>
<h1></h1>    
    <div class="grid justify-content-end">
        
        <div class="col-12 sm:col-6">
            <div class="nin">
                <div class="p-4 bg-primary  box">
                    6
                  </div>
              </div>
        </div>
    </div>
<h1></h1>
    <div class="grid justify-content-center">
        
        <div class="col-12 sm:col-10">
          <div class="p-4 bg-primary  box">
           10
          </div>
        </div>
    </div>
  </body>
<a routerLink="/deberes">Volver a la lista de Deberes</a>