<div class="p-fluid">
  <h1 class="text-center">3x3 Matrix</h1>
  <div class="matriz-3x3 grid">
    <div class="col-4 box">1</div>
    <div class="col-4 box">2</div>
    <div class="col-4 box">3</div>
    <div class="col-4 box">4</div>
    <div class="col-4 box">5</div>
    <div class="col-4 box">6</div>
    <div class="col-4 box">7</div>
    <div class="col-4 box">8</div>
    <div class="col-4 box">9</div>
  </div>

  <h1 class="text-center">4x4 Matrix</h1>
  <div class="matriz-4x4 grid">
    <div class="col-3 box">1</div>
    <div class="col-3 box">2</div>
    <div class="col-3 box">3</div>
    <div class="col-3 box">4</div>
    <div class="col-3 box">5</div>
    <div class="col-3 box">6</div>
    <div class="col-3 box">7</div>
    <div class="col-3 box">8</div>
    <div class="col-3 box">9</div>
    <div class="col-3 box">10</div>
    <div class="col-3 box">11</div>
    <div class="col-3 box">12</div>
    <div class="col-3 box">13</div>
    <div class="col-3 box">14</div>
    <div class="col-3 box">15</div>
    <div class="col-3 box">16</div>
  </div>

  <h1 class="text-center">5x5 Matrix</h1>
  <div class="matrix-5x5">
    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
    <div class="box">6</div>
    <div class="box">7</div>
    <div class="box">8</div>
    <div class="box">9</div>
    <div class="box">10</div>
    <div class="box">11</div>
    <div class="box">12</div>
    <div class="box">13</div>
    <div class="box">14</div>
    <div class="box">15</div>
    <div class="box">16</div>
    <div class="box">17</div>
    <div class="box">18</div>
    <div class="box">19</div>
    <div class="box">20</div>
    <div class="box">21</div>
    <div class="box">22</div>
    <div class="box">23</div>
    <div class="box">24</div>
    <div class="box">25</div>
  </div>

  <h1 class="text-center">6x6 Matrix</h1>
  <div class="matriz-6x6 grid">
    <div class="col-2 box">1</div>
    <div class="col-2 box">2</div>
    <div class="col-2 box">3</div>
    <div class="col-2 box">4</div>
    <div class="col-2 box">5</div>
    <div class="col-2 box">6</div>
    <div class="col-2 box">7</div>
    <div class="col-2 box">8</div>
    <div class="col-2 box">9</div>
    <div class="col-2 box">10</div>
    <div class="col-2 box">11</div>
    <div class="col-2 box">12</div>
    <div class="col-2 box">13</div>
    <div class="col-2 box">14</div>
    <div class="col-2 box">15</div>
    <div class="col-2 box">16</div>
    <div class="col-2 box">17</div>
    <div class="col-2 box">18</div>
    <div class="col-2 box">19</div>
    <div class="col-2 box">20</div>
    <div class="col-2 box">21</div>
    <div class="col-2 box">22</div>
    <div class="col-2 box">23</div>
    <div class="col-2 box">24</div>
    <div class="col-2 box">25</div>
    <div class="col-2 box">26</div>
    <div class="col-2 box">27</div>
    <div class="col-2 box">28</div>
    <div class="col-2 box">29</div>
    <div class="col-2 box">30</div>
    <div class="col-2 box">31</div>
    <div class="col-2 box">32</div>
    <div class="col-2 box">33</div>
    <div class="col-2 box">34</div>
    <div class="col-2 box">35</div>
    <div class="col-2 box">36</div>
  </div>
</div>
